/* * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
    background: url(../imagenes/e.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.contenedor-form{
    background: rgba(221, 103, 221, 0.5);
    width: 100%;
    max-width: 500px;
    margin: 48px auto;
    color: #ffffff;
    border-radius: 5px;

    /* padding: 40px; */
 /* } 

.contenedor-form h2 {
    margin: 0 0 28px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}

.contenedor-form  input[type="text"],
.contenedor-form  input[type="password"],
.contenedor-form  input[type="email"]{
    outline: none;
    background: rgb(0,0,0, .5);
    display: block;
    width: 100%;
    padding: 10px 15px;
    color: silver;
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid #ff851b;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    opacity:valor;
    margin: 0 0  20px 0;
    transition: all .5s ease;

}

.contenedor-form  input[type="text"]:focus,
.contenedor-form  input[type="password"]:focus,
.contenedor-form  input[type="email"]:focus {
    border-bottom: 4px solid #ffffff;
}
.contenedor-form  input[type="submit"]{
    background: #ff851b;
    color: #ffffff;
    border: none;
    width: 100%;
    padding: 10px 0;
    font-weight: normal;
    font-family: roboto;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-form  input[type="submit"]:hover{
    background: rgba(0, 117, 217, 0.7);
}

.contenedor-form .reset-password{
    background: rgba(0, 117, 217, 0.7);
    width: 100%;
    padding: 15px 0;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.contenedor-form .reset-password a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.contenedor-form .formulario{
    padding: 40px;
}
.contenedor-form .formulario:nth-child(2){
    display: block; */

 
