{% extends 'pagina.html' %}
{% block body %}
        <body>
            <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-light" position ="absolute">
                    <div class="container-fluid">
                        <h1 class="icon-emo-devil">MYK</h1> 
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">inicio</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </nav>      
            </header>
            <main>
                <section id="banner">
                    <img src="{{url_for('static', filename='img/banner.jpg')}}" alt="" srcset="">
                    <div class="contenedor">
                        <h2>Cabañas</h2>
                        <p> Contamos con las cavañas más hermosas, en las mejores playas del pais.</p>
                        <a href="#">leer más</a>    
                    </div>  
                </section>
                <section id="Bienvenidos">
                    <h2>CAVAÑAS EN SAN ANDRÉS </h2>
                </section>
                <section id="blog">
                    <div class="contenedor">
                       <article>
                        <img src="{{url_for('static', filename='img/tercera.jpg')}}" alt="" srcset="">
                           <h4>Cabaña entera</h4>
                           <p>6 huéspedes · 3 habitaciones · 4 camas · 2 baños</p>
                            <div class="contenedor">
                                <a href="#" class="btn btn-outline-success" type="submit">Reserva</a>
                                <input type="datetime-local" id="llegada" name="fecha-hora-llegada" class="cajas">
                           </div> 
                       </article>
                       <article>
                        <img src="{{url_for('static', filename='img/cuarta.jpg')}}" alt="" srcset="">
                            <h4>Cabaña entera</h4>
                            <p>4 huéspedes · 2 habitaciones · 2 camas · 1 baños</p>
                            <div class="contenedor">
                                <a href="#" class="btn btn-outline-success" type="submit">Reserva</a>
                                <input type="datetime-local" id="llegada" name="fecha-hora-llegada" class="cajas">
                            </div> 
                       </article>
                       <article>
                        <img src="{{url_for('static', filename='img/e.jpg')}}" alt="" srcset="">
                            <h4>Cabaña entera</h4>
                            <p>2 huéspedes · 1 habitaciones · 1 camas · 1 baño</p>
                            <div class="contenedor">
                                <a href="#" class="btn btn-outline-success" type="submit">Reserva</a>
                                <input type="datetime-local" id="llegada" name="fecha-hora-llegada" class="cajas">
                            </div> 
                       </article>
                       <article>
                        <img src="{{url_for('static', filename='img/sexta.jpg')}}" alt="" srcset="">
                            <h4>Cabaña entera</h4>
                            <p>4 huéspedes · 2 habitaciones · 4 camas · 1 baño</p>
                            <div class="contenedor">
                                <a href="#" class="btn btn-outline-success" type="submit">Reserva</a>
                                <input type="datetime-local" id="llegada" name="fecha-hora-llegada" class="cajas">
                            </div> 
                       </article>
                       <article>
                        <img src="{{url_for('static', filename='img/i.jpg')}}" alt="" srcset="">
                            <h4>Cabaña entera</h4>
                            <p>2 huéspedes · 1 habitaciones · 1 camas · 1 baño</p>
                            <div class="contenedor">
                                <a href="#" class="btn btn-outline-success" type="submit">Reserva</a>
                                <input type="datetime-local" id="llegada" name="fecha-hora-llegada" class="cajas">
                            </div> 
                       </article>
                       <article>
                        <img src="{{url_for('static', filename='img/io.jpg')}}" alt="" srcset="">
                            <h4>Cabaña entera</h4>
                            <p>3 huéspedes · 3 habitaciones · 3 camas · 1 baño</p>
                            <div class="contenedor">
                                <a href="#" class="btn btn-outline-success" type="submit">Reserva</a>
                                <input type="datetime-local" id="llegada" name="fecha-hora-llegada" class="cajas">
                            </div> 
                       </article>
                       <article>
                        <img src="{{url_for('static', filename='img/quinta.jpg')}}" alt="" srcset="">
                            <h4>Cabaña entera</h4>
                            <p>6 huéspedes · 4 habitaciones · 4 camas · 2 baños</p>
                            <div class="contenedor">
                                <a href="#" class="btn btn-outline-success" type="submit">Reserva</a>
                                <input type="datetime-local" id="llegada" name="fecha-hora-llegada" class="cajas">
                            </div> 
                       </article>
                    </div>        
                </section>
                <section id="info">
                    <h3>CAVAÑAS EN EL BOSQUE</h3>
                        <div class="contenedor">
                            <div class="info-manga">
                                <img src="{{url_for('static', filename='img/nueve.jpg')}}" alt="" srcset="">
                                <h4>Cabaña entera</h4>
                                <p>2 huéspedes · 1 habitaciones · 1 camas · 1 baño</p>
                                <div class="contenedor">
                                    <a href="#" class="btn btn-outline-success" type="submit">Reserva</a>
                                    <input type="datetime-local" id="llegada" name="fecha-hora-llegada" class="cajas">
                                </div> 
                            </div>
                            <div class="info-manga">
                                <img src="{{url_for('static', filename='img/siete.jpg')}}" alt="" srcset="">
                                <h4>Cabaña entera</h4>
                                <p>4 huéspedes · 2 habitaciones · 3 camas · 2 baño</p>
                                <div class="contenedor">
                                    <a href="#" class="btn btn-outline-success" type="submit">Reserva</a>
                                    <input type="datetime-local" id="llegada" name="fecha-hora-llegada" class="cajas">
                                </div> 
                            </div>
                            <div class="info-manga">
                                <img src="{{url_for('static', filename='img/ocho.jpg')}}" alt="" srcset="">
                                <h4> Twisting Whirpool</h4>
                                <p>2 huéspedes · 1 habitaciones · 1 camas · 1 baño</p>
                                <div class="contenedor">
                                    <a href="#" class="btn btn-outline-success" type="submit">Reserva</a>
                                    <input type="datetime-local" id="llegada" name="fecha-hora-llegada" class="cajas">
                                </div> 
                            </div>
                            <div class="info-manga">
                                <img src="{{url_for('static', filename='img/diez.jpg')}}" alt="" srcset="">
                                <h4>The Dragon of Change</h4>
                                <p>5 huéspedes · 3 habitaciones · 4 camas · 2 baño</p>
                                <div class="contenedor">
                                    <a href="#" class="btn btn-outline-success" type="submit">Reserva</a>
                                    <input type="datetime-local" id="llegada" name="fecha-hora-llegada" class="cajas"> 
                                </div> 
                            </div>
                            <div class="info-manga">
                                <img src="{{url_for('static', filename='img/1.jpg')}}" alt="" srcset="">
                                <h4>The Dragon of Change</h4>
                                <p>8 huéspedes · 6 habitaciones · 6 camas · 3 baños</p>
                                <div class="contenedor">
                                    <a href="#" class="btn btn-outline-success" type="submit">Reserva</a>
                                    <input type="datetime-local" id="llegada" name="fecha-hora-llegada" class="cajas">
                                </div> 
                            </div>
                            <div class="info-manga">
                                <img src="{{url_for('static', filename='img/2.jpg')}}" alt="" srcset="">
                                <h4>The Dragon of Change</h4>
                                <p>6 huéspedes · 4 habitaciones · 4 camas · 2 baños</p>
                                <div class="contenedor">
                                    <a href="#" class="btn btn-outline-success" type="submit">Reserva</a>
                                    <input type="datetime-local" id="llegada" name="fecha-hora-llegada" class="cajas">
                                </div> 
                            </div>
                            <div class="info-manga">
                                <img src="{{url_for('static', filename='img/3.jpg')}}" alt="" srcset="">
                                <h4>CAVAÑA EN EL ÁRBOL</h4>
                                <p>2 huéspedes · 1 habitaciones · 1 camas · 1 baño</p>
                                <div class="contenedor">
                                    <a href="#" class="btn btn-outline-success" type="submit">Reserva</a>
                                    <input type="datetime-local" id="llegada" name="fecha-hora-llegada" class="cajas"> 
                                </div> 
                            </div>
                        </div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2358.130412183949!2d-75.55464482054664!3d6.278607682751052!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4428c7d999ff81%3A0xa9ff29b4eacbc659!2sEstaci%C3%B3n%20Las%20Esmeraldas!5e0!3m2!1ses!2sco!4v1620588866676!5m2!1ses!2sco" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </section>
            </main>
            <footer>
                <div class="contenedor">
                    <p class="copy"> & mery  and ksa </p>
                    <div class="sociales">
                        <a class="icon-face"href="#"></a>
                        <a class="icon-twitter" href="#"></a>
                        <a class="icon-gplus" href="#"></a>
                        <a class="icon-instagram"href="#"></a>
                    </div>
                </div>
            </footer>
        </body>
  
{% endblock %}
