{% extends 'layout.html' %}
{% block body %}


<div class="container">
	<form method="POST" action="{{url_for('login')}}">
		<div class="mb-3">
		  <label for="exampleInputEmail1" class="form-label">Full Name</label>
		  <input type="text" class="form-control" name="username" aria-describedby="username">
		  
		</div>
		<div class="mb-3">
			<label for="exampleInputPassword1" class="form-label">password</label>
			<input type="password" class="form-control" name="password">
		  </div>

		  <button type="submit" class="btn btn-primary">Enviar</button>
		</form>
	</div>

{% endblock %}  

